<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lume-mermaid</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
    <footer>&copy; <a href="https://willcraft.software">Will Craft Software</a>. All rights reserved.</footer>
  </body>
</html>
